.tem{
    h6{
        display: inline;
    }
    p{
        display: inline;
        margin-left: 5px;
    }
}

$social: (
    linkedin:#0e76a8,
    facebook:#3b5998,
    whatsapp:#a4c639,
    regular:rgb(108, 30, 30)
);
@each $red, $color in $social {
    .#{$red}{
        background-color: $color;
        padding: 4px;
    }
}
.botonC {
	width:100px;
	height:30px;
	background-color:white;
	color:black;
	border:1px solid black;
	border-radius:5px;
    text-align:center;
}

.botonC--a{
	@extend .botonC;
	background-color:map-get($social, regular );
    font-weight: 200
}

.botonC--r{
	@extend .botonC;
	background-color:grey;
    font-weight: 100;
}


// mixin se encuentra en main 


