.tom{
    padding-top: 15px;
    div{
        display: inline-block;
        h5{
            padding-right: 10px;
            text-align: center;
            padding-bottom: 10px;
        }
        padding: 20px;
    }
    p{
        color:black;
    }
}

.carDo{

    border-style: solid ;
    border-color: black;

}

.bgCol{
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 26px;
    overflow-wrap: break-word;
}

.tituloDO{
    @include Letra(35px,black)
}
@media screen and (max-width: 540px	){

    .tituloDO{
        overflow-wrap: break-word;
        @include Letra(20px,black)
    }
}