/* font-family: 'Ibarra Real Nova', serif;
font-family: 'Zilla Slab', serif; */

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	overflow-x: hidden;
    background-color: rgb(255, 255, 255);

}
html{
	font-size: 65%;
    font-family: 'Zilla Slab', serif;
}

p{ text-align: justify;
color: beige;}

$grisP: rgba(174, 174, 174, 0.863);

.todoP{
    padding-left: 5%;
    padding-right: 5% ;
}
@mixin Letra($size, $color) {
    font-size: $size;
    color: $color;
}
.footerStyle{
    @include Letra(15px,white)
}
.tam{
    a{
        padding-left: 10px; 
        img{
            width: 30px;
            
        &:hover{
            background-color: $grisP
        }
        }
    }
    margin-top: 5px;
    margin-bottom: 5px;
}
.tem{
    color: black;
}
.pags{
    @include Letra(20px,black);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.textoColor{
    @include Letra(16px,black)
}
.tituloS{
    @include Letra(21px,rgb(37, 16, 16));
    overflow-wrap: break-word
}


.PARALLEXC { 
    display: flex;
    flex-direction: column ;
    justify-content: center;
    background-image: url("../multimedia/Edificio.jpg");

    min-height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0ch;
}
.siluet{
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    background-color: white;
}
.brk{
    overflow-wrap: break-word;
}
//  Imports 
@import "index";
@import "contacto";
@import "DireccionDeObra";
@import "servicios";
@import "Proyectos";
