/* font-family: 'Kantumruy Pro', sans-serif;
font-family: 'Koulen', cursive;*/

*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body{
	overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  }
html{
	font-size: 62.5%;
  font-family: 'Kantumruy Pro', sans-serif;
}
nav {
	position: relative;
	bottom: 95px;
	left: 65%;
}
h3{
    font-size: 20px;
    color :rgb(254, 254, 255);
}
h1{
    font-size: 50px;
    color :rgb(254, 254, 255);
    font-family: 'IBM Plex Mono', monospace;
}
h4{
    font-size: 30px;
    color :rgb(254, 254, 255);
}
h5{
    padding-top: 20px;
    font-size: 15px;
    color :rgb(254, 254, 255);
}
a {
  text-decoration:none;
  color: beige;}   

p{ text-align: justify;
color: beige;}


.headerIndex{
  background-color: black;
}
.headerIndex a{
  color: antiquewhite;
}
.navIndex{
  background-color: rgba(174, 174, 174, 0.801);
}
.navIndex a{
  font-family: 'Koulen', cursive;
  color: white;
}
.dropdown-menu{
  background-color: grey;
}

.PARALLEX { 
  display: flex;
  flex-direction: column ;
  justify-content: center;
  background-image: url("../multimedia/Edificio.jpg");

  min-height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0ch;
}

.PARALLEX2 { 
  background-image: url("../multimedia/Edificio.jpg");

  min-height: 100px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0ch;

}

.estiloNombre{
    text-align: center;
    background-color: rgba(174, 174, 174, 0.863);
    padding: 50px 30px;
    margin-bottom: 50px;
    margin-top: 50px;

}
.card-text{
    color: rgb(0, 0, 0);
}

.pet{
  margin-top: 1cm;
  margin-left: 1cm;
  margin-bottom:0.5cm;
}

.nav{
--bs-nav-link-hover-color: #141619;
}
