/* font-family: 'Kantumruy Pro', sans-serif;
font-family: 'Koulen', cursive;*/

*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body{
	overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  }
html{
	font-size: 62.5%;
  font-family: 'Kantumruy Pro', sans-serif;
}
nav {
	position: relative;
	bottom: 95px;
	left: 65%;
}
h3{
    font-size: 20px;
    color :rgb(254, 254, 255);
}
h1{
    font-size: 50px;
    color :rgb(254, 254, 255);
    font-family: 'IBM Plex Mono', monospace;
}
h4{
    font-size: 30px;
    color :rgb(254, 254, 255);
}
h5{
    padding-top: 20px;
    font-size: 15px;
    color :rgb(254, 254, 255);
}
a {
  text-decoration:none;
  color: beige;}   

p{ text-align: justify;
color: beige;}

 /* Index */
 .headerIndex{
   background-color: black;
 }
 .headerIndex a{
  color: antiquewhite;
 }
 .navIndex{
  background-color: rgba(174, 174, 174, 0.801);
 }
 .navIndex a{
  font-family: 'Koulen', cursive;
  color: white;
}
 .dropdown-menu{
  background-color: grey;
 }

/* .fu{
  margin: 10px ;
} */

 .PARALLEX { 
  display: flex;
  flex-direction: column ;
  justify-content: center;
  background-image: url("../multimedia/Edificio.jpg");

  min-height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0ch;
}

 .PARALLEX2 { 
  background-image: url("../multimedia/Edificio.jpg");

  min-height: 100px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0ch;

}

.estiloNombre{
    text-align: center;
    background-color: rgba(174, 174, 174, 0.863);
    padding: 50px 30px;
    margin-bottom: 50px;
    margin-top: 50px;

}
.card-text{
    color: rgb(0, 0, 0);
}

.pet{
  margin-top: 1cm;
  margin-left: 1cm;
}

/* ----------------------------------------------------------------------------------------- */
/* Proyectos y Proyecto BIM */

/* desktop RD */

.containerP {  display: grid;
  grid-template-columns: 1fr 1fr 1.4fr;
  grid-template-rows: 5fr 5fr 5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "P1 P1 P1"
    "P2 P2 P2"
    "P3 P3 P3"
    "f1 f2 f2";
}

.Pagina{
  grid-area: Pagina; 
}
.P1 {    
  grid-area: P1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding-right: 5%;
  padding-left: 5%;
 }

.P2 { 
  grid-area: P2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.P3 { 
  grid-area: P3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding-right: 5%;
  padding-left: 5%;
}

.f1 { grid-area: f1; }

.f2 { grid-area: f2; }



.imgProyecto{
    display: inline;
    margin: 5px;
    height: 150px;
    width: 250px;
}

.invertidoText{
  color: rgb(59,0,0);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.text{
  color: beige;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.hP{
  color: rgb(59,0,0); 
  margin-bottom: 1cm ;
}


/* tablet big RD*/
@media screen and (max-width: 1238px){
  .containerP {  display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "P1 P1 P1"
      "P2 P2 P2"
      "P3 P3 P3"
      "f1 f2 f2";
  }

}
/* t RD*/
@media screen and (max-width: 1100px){
  .containerP { 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:  1fr 1fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "P1 P1 "
      "P2 P2 "
      "P3 P3 "
      "f1 f2 ";
  }
}

/* celular  RD */
@media screen and (max-width: 500px){
  .containerP { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "P1"
      "P2"
      "P3"
      "f1"
      "f2";
  }
  
  .P1{
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .P2{
    flex-flow: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .P3{
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .imgProyecto{
    width: 80%;
    height: fit-content;
  }
}


/* ----------------------------------------------------------------------------------------- */
/* Servicios  */
.containerS {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "paginas paginas paginas paginas"
    "servicio servicio servicio servicio"
    "SRV SRV SRV SRV";
}


.paginas { 
  grid-area: paginas; 
}

.servicio { 
  grid-area: servicio;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(221, 221, 221);
}

.SRV {
  grid-area: SRV;
  display: flex;
  flex-direction: column;
  padding: 2px 50px 2px 50px;
  margin: 2px;
  align-items: center;
  justify-content: center;
}

.servicio section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5px 0px 5px;
  border: solid;
}
.servicio h3{
  color: brown;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.servicio a{
  color: brown;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}


.SRV img{ padding-right: 100px;}
.SRV h5 {
  font-size: 20px;
}
.SRV p {
  font-size: 15px;
  color: beige;
}
/* Tablet RD */
@media screen and (max-width: 1130px){
  .containerS {  display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.1fr 1fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "paginas paginas" 
      "servicio servicio"
      "SRV SRV ";
  }
  
  .paginas {
    grid-area: paginas;
  } 
}
/* Tablet RD */
@media screen and (max-width: 870px){
  .containerS {  display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.1fr 2fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "paginas paginas" 
      "servicio servicio"
      "SRV SRV ";
  }
  .servicio{
    flex-flow: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 0%;
  }
  .servicio section {
    padding: 5%;
    border-top: 0px;
  }

}
/* celular RD */
@media screen and (max-width: 500px){
  .containerS {  display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.15fr 1.6fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "paginas " 
      "servicio "
      "SRV ";
  }
  .servicio{
    flex-flow: column;
    align-items: stretch;
    justify-content: stretch;
  }
  .servicio section {
    padding: 5%;
    border-top: 0px;
  }
}

/* contacto */
.containerC {  display: grid;
  grid-template-columns:  1fr 0.6fr 1.4fr;
  grid-template-rows:  0.4fr 0.8fr 1.8fr; 
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PaginasC PaginasC paginasC"
    "contactamos contactamos informacionC"
    "contactamos contactamos mapa";
    justify-items: center;
}

.paginasC { grid-area: paginasC; }

.contactamos { 
    grid-area: contactamos;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    background-color: grey;
    background: linear-gradient(to bottom, rgb(198, 198, 198),rgb(72, 71, 71));
    padding: 0.5cm;
    margin-left: 10px;
 }
 .contactamos form{
  display: flex;
  flex-direction: column;
 }

 .contactamos h3{
  font-size: 35px;
 }

 .formC{
  padding-bottom: 2%;
  font-size: 24px;

}
input{
  width: 30%;
  transition: all 1s;
}
input:focus{
  width: 100%;
  background-color: rgba(244, 244, 244, 0.879);
}
.formC label {
  color: beige;
  font-size: 25px;
  padding-bottom: 1%;
}

.informacionC { 
  grid-area: informacionC;
  background-color: rgba(128, 128, 128, 0.637);
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0cm 1cm 0cm 1cm;
  padding: 0.5cm;
  border-bottom: hidden;
 }
.informacionC h3 {
  font-size: 24px;
}

.freeUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: baseline;

}
 .informacionC li {
  display: block;
  color: beige;
}


.mapa {
    grid-area: mapa;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(128, 128, 128, 0.637);
    justify-content: center;
    margin: 0px 1cm;
    border: solid;
    padding: 0.5cm;
}

/* teblet y phone RD */
 @media screen and (max-width: 1100px){
  .containerC {  display: grid;
    grid-template-columns:  1fr ;
    grid-template-rows:  0.1fr 0.1fr 0.5fr 3fr 3fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "paginasC"
      "contactamos  "
      "informacionC"
      " mapa";
    
  }
  .informacionC{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .contactamos{
    width: 100%;
  }
  .mapa{
    width: 100%;
    background-color: rgba(35, 34, 34, 0.607);
  }
}


